@import "../../assets/Styles/colors";

nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbarContainer {
  width: 100%;
  height: 80px;
  background-color: transparent;
  padding: 16px;
  box-sizing: border-box;

  .iconContainer {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;

    .burgerIconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;

      img {
        height: 40px;
        width: 40px;
        cursor: pointer;
      }
    }
  }
}
