@use "../../../assets/Styles/_sizes.scss" as *;

$paddings: 45px;

.informationCardContainer {
  height: 100%;
  width: 100%;
  border: 1px solid #575757;
  border-radius: $border_x3;
  display: flex;
  flex-direction: column;
}

.headerSection {
  flex: 1;

  .nameContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: $paddings;

    h1 {
      color: white;
    }
  }
}

.middleSection {
  flex: 4;

  .middleContainer {
    padding-left: $paddings;
    padding-right: $paddings;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .imageContainer {
      img {
        height: 260px;
        width: 100%;
        object-fit: cover;
        border-radius: $border_x3;
      }
    }

    .middleContainerText {
      margin-top: 36px;
      height: 100%;
      width: 100%;

      .descriptionContainer {
        width: 100%;
        height: 100%;
        padding: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18px;

        p {
          color: white;
        }
      }
    }
  }
}

.bottomSection {
  flex: 1;

  .iconsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 40px;
    justify-content: center;
    align-items: flex-end;
    gap: 26px;

    img {
      height: 50px;
      width: 50px;
    }
  }
}
