@import "../../../assets/Styles/Sizes.scss";

.information_card {
  width: 90%;
  height: 90%;
  background-color: #202328;
  border: 2px solid #575757;
  border-radius: $border_x3;
  padding: 30px;
  box-sizing: border-box;

  &__container {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
  }

  &__header {
    height: 10%;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: flex-end;
    h1 {
      margin-left: 10%;
    }
  }

  &__body {
    height: 70%;
    width: 100%;
    background-color: cadetblue;

    img {
      width: 300px;
      height: 200px;
      object-fit: cover;
      border-radius: $border_x3;
    }
  }
}
